@model CondominioModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h2>Cliente - Editar</h2>
                <form asp-action="Editar" asp-controller="Condominio" method="post">                   
                    <input type="hidden" asp-for="CondominioId" readonly/> @*campo necessário para poder salvar no banco de dados*@
                    <div class="form-group">
                        <label class="control-label" asp-for="NomeCondominio"></label>
                        <input class="form-control col-5" asp-for="NomeCondominio" />
                        <span class="text-danger" asp-validation-for="NomeCondominio"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Contato"></label>
                        <input class="form-control col-5" asp-for="Contato" />
                        <span class="text-danger" asp-validation-for="Contato"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Endereco"></label>
                        <input class="form-control col-5" asp-for="Endereco" />
                        <span class="text-danger" asp-validation-for="Endereco"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="ConteinerId"></label>
                        <input class="form-control col-5" asp-for="ConteinerId" />
                        <span class="text-danger" asp-validation-for="ConteinerId"></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Ativo" id="ativoSim" value="true">
                        <label class="form-check-label" asp-for="Ativo">
                        Ativo - Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Ativo" id="ativoNao" value="false">
                        <label class="form-check-label" asp-for="Ativo">
                        Ativo - Não
                        </label>
                    </div>
                    <a asp-action="Index" asp-controller="Condominio" class="btn btn-default btn-lg">Cancelar</a>
                    <button type="submit" class="btn btn-primary btn-lg">Gravar</button>
                </form>
            </div>
        </div>
    </div>
</div>
